# Swap files
*.swp
*.swo
*.swn

# Backup files
*.bak
*.bck
*.backup
*.swp
*.swo
*.swn

# Session files
Session.vim
Session.*

# Viminfo files
.viminfo
.viminfo-*

# Undo files
*.un~

# Tags files
tags
.tags

# Temporary files
*.tmp

# Plugin specific files
# Ignore pathogen bundles
vim/bundle/*

# Ignore vim-plug plugins
vim/plugged/*

# Ignore Vundle plugins
vim/vundle/*

# Ignore neobundle plugins
vim/neobundle/*

# Ignore screenshot
vim/screenshot/*

# Ignore YouCompleteMe files
.ycm_cache/

# Ignore log files
*.log

